html{
  background:  linear-gradient(#343434, #1a1a1a);
  height: 100%;
}

#heading{
  background:  linear-gradient(#878787, white);
  box-shadow: 1px 3px 10px grey;
  padding:20px;
  color:white;
  text-align: left;
}

#sidebar{
  float:left;
  padding:40px;
  background:  linear-gradient(#878787, white);
}

.sideItem{
  color:white;
}

#container{
  padding:20px;
  box-shadow: 1px 3px 10px grey;
  border-radius: 5px;
  margin:auto;
  margin-top: 20px;
  width: 35%;
  font-size: 20px;
  background:  linear-gradient(#878787, white);
}

#selectMenu{
  font-size: 32px;
  margin: 10px;
}

#inputSection{
  background:  linear-gradient(#878787, white);
  padding:20px;
  width:50%;
  margin:auto;
  margin-top: 20px;
}

.input{
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

.label{
  margin-right: 10px;
}

.but{
  font-size: 22px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 370px;
}

.smallBut {
  margin-left:10px;
  font-size:20px;
  border-radius:5px;
}

.option{
  background:  linear-gradient(#878787, white);
  padding:5px;
  margin:10px;
}
